.Button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #7a29e4;
  color: #fff;
  background-color: #7a29e4;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  outline: none;
}

.Button:hover {
  background-color: #fff;
  color: #7a29e4;
}