.DeliveryForm {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.DeliveryForm__header {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 300;
}

.DeliveryForm__headerSpan {
  font-weight: 300;
  color: #747474;
  display: block;
  margin-bottom: 10px;
}

.form {
  border: 1px solid #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.DeliveryForm__input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 0.5px #1e1e1e solid;
  outline: none;
}

.DateTime__customCss {
  width: 100%;
  padding: 10px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
}

.DateTime__customCss > div {
  border: none !important;
}

.DeliveryForm__submitBtn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #7a29e4;
  color: #fff;
  background-color: #7a29e4;
  transition: ease-out 0.3s;
  cursor: pointer;
}

.DeliveryForm__submit {
  display: flex;
  justify-content: flex-end;
}

.DeliveryForm__submitBtn:hover {
  background-color: #fff;
  color: #7a29e4;
}

@media only screen and (min-width: 800px) {
  .DeliveryForm {
    display: flex;
    flex-direction: column;
  }
  .DeliveryForm__header,
  .DeliveryForm__headerSpan {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
  }
  .form__group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .form {
    border: 1.5px solid #1e1e1e;
    width: 40%;
  }
  .DeliveryForm__input {
    border: 1px solid #1e1e1e;
  }

  .DeliveryForm__submit {
    margin-top: 30px;
    justify-content: center;
  }
}
